[tool.mypy]
plugins = ["pydantic.mypy"]
mypy_path = "./"
files = ["aiosu"]
disallow_untyped_defs = true
disallow_any_unimported = true
show_error_codes = true

[tools.pytest.ini_options]
testpaths = ["tests"]

[tool.poetry]
name = "aiosu"
version = "0.0.1"
description = "Simple and fast osu! API v1 and v2 library"
authors = ["Nice Aesthetics <nice@aesth.dev>"]
license = "GPLv3+"
readme = "README.rst"
repository = "https://github.com/NiceAesth/aiosu"
documentation = "https://aiosu.readthedocs.io/"
keywords = ["osu!", "osu", "api"]
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Programming Language :: Python :: 3.9"
]
include = ["py.typed"]

[tool.poetry.dependencies]
python = "^3.9"
aiohttp = "^3.8.3"
aiolimiter = "^1.0.0"
emojiflags = "^0.1.1"
orjson = "^3.8.3"
pydantic = "^1.10.2"
pytest = {version="^7.2.0", optional = true}
pytest-asyncio = {version="^0.20.2", optional = true}
pytest-mock = {version="^3.10.0", optional = true}
toml = {version="^0.10.2", optional = true}
sphinx = {version="^5.3.0", optional = true}
sphinx-rtd-theme = {version="^1.1.1", optional = true}
types-toml = {version = "^0.10.8.1", optional = true}

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
pytest-asyncio = "^0.20.2"
pytest-mock = "^3.10.0"
mypy = "^0.991"
toml = "^0.10.2"
types-toml = "^0.10.8.1"
sphinx = "^5.3.0"
sphinx-rtd-theme = "^1.1.1"

[tool.poetry.extras]
test = ["pytest", "pytest-asyncio", "pytest-mock", "toml", types-toml"]
docs = ["Sphinx", "sphinx-rtd-theme", "toml"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
