name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}

    - name: Build
      run: poetry build

    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "dist/*"
        token: ${{ secrets.GITHUB_TOKEN }}
        draft: false

    - name: Publish
      run: poetry publish
